{% extends 'base.html' %}
{% block title %}Menu{% endblock %}
{% block content %}
<div>
    <h2>Menu</h2>
    <a href = "{% url 'menu_item_add'%}">Add menu item</a>
    <a href = "{% url 'recipe_add'%}">Add recipe</a>
    <ul>
        {% for menu_item in object_list %}
        <li>
            <div class="menu-item-header">
                <div class="menu-item-title">{{ menu_item.title }}</div>
                <div class="menu-item-price">${{ menu_item.price|stringformat:".2f" }}</div>
            </div>

            <ul class="menu-item-ingredients">
                {% for recipe_requirement in menu_item.reciperequirement_set.all %}
                <li>{{ recipe_requirement.quantity }} {{recipe_requirement.ingredient.unit }} {{ recipe_requirement.ingredient.name }}</li>
                {% endfor %}
            </ul>
        </li>
        {% endfor %}
    </ul>
</div>
{% endblock %}