{% extends 'base.html' %}
{% block title %}Purchases{% endblock %}
{% block content %}
<div>
    <h2>Purchases</h2>
    <a href="{% url 'purchases_add' %}">Create purchase</a>
    <table>
        <thead>
            <tr>
                <th>Menu Item</th>
                <th>Price</th>
                <th>Time</th>
            </tr>

            {% for purchase in object_list%}
            <tr>
                <td>{{purchase.menu_item.title}}</td>
                <td>${{purchase.menu_item.price}}</td>
                <td>{{purchase.timestamp}}</td>
            </tr>
            {% endfor %}
        </thead>
    </table>
</div>
{% endblock %}