{% extends 'base.html' %}
{% block title %}Report{% endblock %}
{% block content %}
<div>
    <h2>Report</h2>
    <h3>Purchases</h3>
    <table>
        <thead>
            <tr>
                <th>Menu Item</th>
                <th>Price</th>
                <th>Time</th>
            </tr>

            {% for purchase in purchases%}
            <tr>
                <td>{{purchase.menu_item.title}}</td>
                <td>${{purchase.menu_item.price}}</td>
                <td>{{purchase.timestamp}}</td>
            </tr>
            {% endfor %}
        </thead>
    </table>

    <p>Total revenue: ${{ total_revenue|stringformat:".2f" }}</p>
    <p>Total cost: ${{ total_cost|stringformat:".2f" }}</p>
    <p>Total profit: ${{ profit|stringformat:".2f" }}</p>
</div>
{% endblock %}